@import-normalize;

h1.logo {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* page titles */
h2.title {
  font-size: 24px;
  color: #ffffff;
}

.nav-menu a {
  margin: 5px;
  padding: 0;
}

.main-container {
  padding: 50px 0;
}

/* might change this later */
.sm-margin-top {
  margin-top: 10px;
}

.sm-margin-bottom {
  margin-bottom: 10px;
}

.sm-margin-y {
  margin: 10px 0;
}

.sm-margin-x {
  margin: 0 10px;
}

.md-margin-top {
  margin-top: 20px;
}

.md-margin-bottom {
  margin-bottom: 20px;
}

.md-margin-y {
  margin: 20px 0;
}

.md-margin-x {
  margin: 0 20px;
}

/* dashboard styling */
.dashboard-stats-component {
  text-align: center;
  border: 1px solid purple;
}

.dashboard-stats-component h3 {
  margin-top: 20px;
}

.dashboard-stats-component p {
  font-weight: 900;
  font-size: 24px;
}
