@import-normalize;

h1.logo {
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-menu a {
  margin: 5px;
  padding: 0;
}

.main-container {
  padding: 50px 0;
}

/* might change this later */
.sm-margin-top {
  margin-top: 10px;
}

.sm-margin-bottom {
  margin-bottom: 10px;
}

.sm-margin-y {
  margin: 10px 0;
}

.sm-margin-x {
  margin: 0 10px;
}
